server:
  port: ${PORT:8080}

spring:
  application:
    name: gestione-hotel

  datasource:
    url: jdbc:mysql://${MY_SQL_HOST_NAME:localhost}:${MY_SQL_PORT:3306}/${SCHEMA_NAME:gestione-hotel}
    username: ${MY_SQL_USERNAME:root}
    password: ${MY_SQL_PASSWORD:}

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:none}
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret-key: ${SECRET_KEY:6c8d9f7b9e4f3a6d8c1e9a7b6d5c4f3e2a1b9c8d7e6f5a4b3c2d1e0f9a8}